{:deps {}
 :paths ["src"]
 :aliases {:dev {:jvm-opts ["-Djdk.attach.allowAttachSelf=true"]
                 :extra-deps {io.github.clojure/data.alpha.replicant-server {:git/tag "v2023.05.02.01" :git/sha "947d8a8"}
                              io.github.nubank/morse {:git/tag "v2023.04.30.01" :git/sha "d99b09c"}}}}}

 